.container {
    position: center;
    /*Main Container settings*/
    max-width: 100vw;
    max-height: 100vh;
    width: auto;
    height: auto;
    margin: auto;
    border: 1px solid red;
    border-radius: 8px;
    /*Orgniszing all sub-containers*/
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.calDetails {
    border: 1px solid rgb(17, 0, 255);
    width: 65vw;
    height: 45vh;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calIn {
    text-align: center;
    margin: 20px;
}

.calOut {
    text-align: center;
    margin: 20px;
}

.navBar {
    width: 65vw;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
    border: 1px solid rgb(255, 0, 195);
    border-radius: 8px;
    list-style: none;
}

ul {
    list-style: none;
}

.navBarImg:hover {
    background-color: #d4d2d2;
}

.selected {
    background-color: rgb(124, 180, 212, 0.5);
}