/* exerciseCalories.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    /* Ensure the container takes full width */
    min-height: 100vh;
}

.container {
    max-width: 600px;
    /* Ensure the container takes full width */
    width: 100%;
    margin: 20px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.exerciseApi,
.trackedCaloriesContainer {
    padding: 15px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.exerciseType,
.exerciseDuration,
.userWeight,
.caloriesBurned {
    margin: 10px 0;
}

.exerciseTypeInput,
.exerciseDurationInput,
.userWeightInput,
.caloriesBurnedInput {
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.trackCaloriesButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
}

.trackCaloriesButton:hover {
    background-color: #0056b3;
}

.trackedCaloriesContainer {
    height: 350px;
    /* Add vertical scrollbar when content exceeds the container height */
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.trackedCalories {
    margin: 20px;
    background-color: #d4edda;
    border: 1px solid #ccc;
    border-radius: 8px;
    list-style: none;
    padding: 0;
}

.trackedCalories li {
    /* Adjust spacing between list items */
    margin: 15px;
}